@charset "UTF-8";

input{border:1px solid #a6a6a6;}
input:focus{outline:none;border:1px solid #000;}
input:focusout{border:1px solid #a6a6a6;}

/* 로그인.jsp */
.title_c{ margin:100px 0 20px 0; }
.btn_kakao_c{ width:330px;height:55px;background-color:#fce51e;margin-bottom:8px;border-radius:5px;font-family:맑은고딕;border: none }
.kakao_c .icon_kakao_c{ content:url('../image/kakao_logo_c.png'); }
.btn_face_c{ width:330px;height:55px;background-color:#1877f2;margin-bottom:8px;border-radius:5px;color:#fff;font-family:맑은고딕;border: none }
.face_c .icon_face_c{ content:url('../image/facebook_logo_c.png'); }
.btn_naver_c{ width:330px;height:55px;background-color:#28d111;margin-bottom:8px;border-radius:5px;color:#fff;font-family:맑은고딕;border: none }
.naver_c .icon_naver_c{ content:url('../image/naver_logo_c.png'); }
.space_or{ position:relative;height:40px;margin-bottom:8px;margin: 10px 0 10px 0; }
.space_or:after{ content:'';position:absolute; top:50%;left:0;width:100%;height:1px;background:rgba(0,0,0,0.08); }
.space_or span{ display:inline-block;position:absolute;top:0;left:50%;z-index:10;width:50px;height:40px;margin:0 0 0 -25px;background:#fff;font-size:14px;line-height:40px;color:rgba(0,0,0,0.38);text-align:center; }
.pw_email_c{display: inline-block;margin:25px 65px 0 0; text-decoration:none;color:#000;}
.member_c{display: inline-flex; text-decoration:none;color:#000;}
/* agree.jsp */
.h4_c{margin:100px 0 25px 0;font-weight:bold;}
.agree_ck_c input[type=checkbox]{width:25px;height:25px;background-color:#fff;}
.agree_ck_c label{margin-bottom:25px;}
.agree_ck_c a{text-decoration:underline; color:#000;}
.agree_ck_c span{color:#FF4848;}
/* email.jsp */
.notice_c{margin-bottom:20px;}
.email_c{width:235px;height:40px;border-radius:5px; margin-bottom:25px;}
.label_c{font-weight:bold;}
/* membership.jsp */
.mform_c input[type=text], .mform_c input[type=date]{width:360px;height:40px;border-radius:5px; margin-bottom:25px;}
.mNotice_c{margin-bottom:20px;}
.mNotice_c a{text-decoration:underline; color:#000;}
/* pw_email */
.pwNotice_c{margin-bottom:20px;}
/* pw_reset */
.pw_reset_c{width:330px;height:40px;border-radius:5px; margin-bottom:25px;}