<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>modify_result</title>
<link rel='stylesheet' type='text/css' href='member.css'>
<script src='jquery-3.4.1.js'></script>
<script src='member.js'></script>
</head>
<body>
    <h3><%=msg%></h3>
    <form name='frm' id='frm' method='post'>
        <input type='button' value='목록' id='btnList' />
        <input type='hidden' name='findStr' value='<%=findStr%>' />
    </form>
<script> btnFunc(); </script>

</body>
</html>